<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj CV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div>
        <form method="post" th:action="@{/moje-cv/dodaj}" th:object="${noweCv}" enctype="multipart/form-data">
           <div class="form-group">
               <label class="form-label" for="imie">Imie</label>
               <input class="form-control" id="imie" type="text" th:field="*{imie}">
           </div>

            <div class="form-group">
                <label class="form-label" for="nazwisko">Nazwisko</label>
                <input class="form-control" id="nazwisko" type="text" th:field="*{nazwisko}">
            </div>

            <div class="form-group">
                <label class="form-label" for="dataUrodzenia">Data Urodzenia</label>
                <input class="form-control" id="dataUrodzenia" type="date" th:field="*{dataUrodzenia}">
            </div>

            <div class="form-group">
                <label class="form-label" for="obraz">Zdjecie</label>
                <input class="form-control" id="obraz" type="file" name="obraz" accept="image/*">
            </div>

            <input type="submit" class="btn btn-primary" value="Wrzuc">

        </form>
    </div>
</div>
</body>
</html>